body{
  font-family: "Montserrat";
}

h1{
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;

  }

h3{
  font-weight: bold;
  font-size: 1.5rem;
}

#title{
  /*color: #fff; h1 text color will be changed to bright white color*/
  color:#fff;
  background-color: #f0db32;
  /*background-color: #ff4c68;#ffdd07;#ffc234*/

  }

/*** Title Image ***/
.phone-image{
    height: 570px;
    width: 450px;
    transform: rotate(20deg);
  }


/*** Navigation Bar ***/
.container-fluid{
  padding: 3% 15%;
}

.navbar{
  padding: 0 0 3.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.text-my{
   color: #fff;
}

.nav-item{
  padding: 0 20px;
}

.nav-link{
  font-size: 1.1rem;
  /*font-family: "Montserrat-light";*/
}


/*** Download Buttons ***/
.download-btn{
  margin: 7% 3% 0 0;
}


/*** Feature Icons ********/
#features{
  padding: 5% 12%;
}

.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color:#a7d229;
}
