body{
  font-family: "Montserrat";
}

h1{
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  }

h2{
  font-size:2.3rem;
  font-weight: 900;
  line-height: 1.5;
}

h3{
  font-size: 1.5rem;
  font-weight: 900;
}

p{
  color:#8f8f8f;
}

#title{
  /*color: #fff; h1 text color will be changed to bright white color*/
  color:#fff;
  background-color: #f0db32;
  /*background-color: #ff4c68;#ffdd07;#ffc234*/

  }

/*** Title Image ***/

.phone-image{
    height: 570px;
    width: 450px;
    margin-top: 10%;
    transform: rotate(20deg);
    position: absolute;
  }

/*** Navigation Bar ***/
.container-fluid{
  padding: 3% 15% 7%;
}

.navbar{
  padding: 0 0 3.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.text-my{
   color: #fff;
}

.nav-item{
  padding: 0 10px;
}

.nav-link{
  font-size: 1.1rem;
  /*font-family: "Montserrat-light";*/
}


/*** Download Buttons ***/
.download-btn{
  margin: 7% 3% 0 0;
}


/*** Feature Icons ********/
#features{
  background-color: #fff;
  padding: 7% 12%;
  position: relative;
  z-index: 1;
}


.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color:#e74a60;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #f0da32;
}


/*** Testimonial Section ********/
#testimonials{
  text-align: center;
  background-color:#ff4c68;
  color:#fff;
}

.testimonial-image{
  width:200px;
  height:200px;
  border-radius:50%;
  margin: 20px;
}

.carousel-item{
  padding:5% 12%;
}

/**** Press Section ****/
#press{
  background-color:#ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width:15%;
  margin: 10px 30px 50px;
}


/*** Pricing Section ****/
#pricing{
  text-align: center;
  padding:50px 150px;
}

.pricing-column{
  padding: 3% 2%;
}

/*** Call To Action Section ****/
#cta{
  background-color:#f0db32;
  padding: 7% 12%;
  text-align: center;
}

.cta-header{
  color:#fff;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/*** Footer Section ***/
#footer{
  text-align: center;
  padding: 5% 12%;
}

.fab-icons{
  /*padding: 0 10px 30px;*/
  margin: 15px 10px;
}

/*** Media Query***/
@media only screen and (max-width:994px){
#title{
  text-align: center;
  }
.phone-image{
  position: static;
  transform: rotate(0deg);
}

}
